{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#navlist_module-ftp").addClass("active");
        });
    </script>

    {% url 'module-vsftpd_main' as this_url %}

    <form class="form-horizontal" role="form" action="{% url 'user_add' %}" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="input-login" class="col-lg-2 control-label">{% trans "Login" %}</label>
            <div class="col-lg-10">
                <input name="login" type="text" class="form-control" id="input-login" placeholder="{% trans "Login" %}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="input-password" class="col-lg-2 control-label">{% trans "Password" %}</label>
            <div class="col-lg-10">
                <input name="password" type="password" class="form-control" id="input-password" placeholder="{% trans "Password" %}" required>
            </div>
        </div>

        <div class="form-group" id="group-home">
            <label for="input-home" class="col-lg-2 control-label">{% trans "Home dir" %}</label>
            <div class="col-lg-10">
                <input name="home_dir" type="text" class="form-control" id="input-home" placeholder="{% trans "Home dir" %}" value="{{ default_home }}">
                <span class="help-block">{% blocktrans %}User FTP directory.{% endblocktrans %}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="input-groups" class="col-lg-2 control-label">{% trans "Groups" %}</label>
            <div class="col-lg-10">
                <select multiple class="form-control" size="6" name="select-groups">
                    {% for group in groups %}
                        <option value="{{ group.name }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
                <span class="help-block">{% blocktrans %}A list of supplementary groups which the user is also a member of.{% endblocktrans %}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <div class="checkbox">
                    <label>
                        <input name="create_user_group" type="checkbox" checked> {% blocktrans %}Create group with name of user{% endblocktrans %}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input-comment" class="col-lg-2 control-label">{% trans "Comment" %}</label>
            <div class="col-lg-10">
                <input name="comment" type="text" class="form-control" id="input-comment" placeholder="{% trans "Comment" %}">
                <span class="help-block">{% blocktrans %}Any text string. It is generally a short description of the login, and is currently used as the field for the user's full name. {% endblocktrans %}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                <button name="create_and_next" type="submit" class="btn btn-default">{% trans "Create and Next" %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/user_add.js' %}"></script>
{% endblock %}